* {
    margin: 0;
}

#cesiumContainer {
    width: 100vw;
    height: 100vh;
}

.cesium-credit-textContainer {
    display: none !important;
}

.cesium-credit-expand-link {
    display: none !important;
}